body {
  background-color: #607d8b;
}
.font-style {
  font-family: "Black Han Sans", sans-serif;
  font-family: "Do Hyeon", sans-serif;
  color: "grey";
  font-size: 40px;
}
.title,
.title2 {
  color: white;
  transition: color 0.5s ease-in-out;
}

.title2 {
  margin: 10px 0px;
}
.top-content-wrap {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.js-title {
  font-size: 100px;
}
/* .js-title-animation {
  transition: color 0.5s ease-in-out;
} */

.input-text {
  outline: none;
  border-radius: 20px;
  width: 200px;
  height: 30px;
  background: none;
  border: 3px solid black;
}

.input-text::placeholder {
  color: black;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}
.js-toDoList {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px;
}

.toDoDeleteBtn {
  width: 35px;
  height: 35px;
  border-radius: 50px;
}
.toDoContents {
  font-size: 40px;
}
